#MainDiv{
    display: flex;
    flex-direction: column;
}

.menuContainer{
    background-image: url('http://localhost:3000/static/media/back-ground.4dc9b437b8177d1dda1b.jfif'); /* החלף background.jpg בשם התמונה שלך */
    background-size: cover;
    background-position: center;
}

.menudiv{
    display: flex;
    justify-content: center;
}