#MainDiv{
    display: flex;
    flex-direction: column;
}

.menuContainer{
    background-image: url('../img/back-ground.jfif'); /* החלף background.jpg בשם התמונה שלך */
    background-size: cover;
    background-position: center;
}

.menudiv{
    display: flex;
    justify-content: center;
}