#MainDiv{
    display: flex;
    flex-direction: column;
    background-image: url('../img/black-background.jpeg');
    background-size: contain;
    background-position: center;
}

.menuContainer{

}

.menudiv{
    display: flex;
    justify-content: center;
}