#order {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: url('../img/back-ground.jfif');
    border-radius: 10px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* :hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} */

#leftdiv{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    color: black;
     
}
.takeaway{
    background-color: black;
    color: red;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    
}