.order-tracker {
    font-family: Arial, sans-serif;
    color: #0e0e0e;
    height: 100vh;
    background-image: url('../img/back-ground.jfif');
    background-size: cover;
    background-position: center;

  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-item {
    color: red;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-item .order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-item.active-order {
    border-color: #be1d1d;
    background-color: #0e0e0e;
  }
  
  .order-item.inactive-order {
    border-color: #ccc;
    background-color: #f9f9f9;
  }
  
  .order-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  