.container {
  background-image: url('../img/back-ground.jfif');
  /* החלף background.jpg בשם התמונה שלך */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 17px
}

.header {
  margin-bottom: 20px;
}

.registration-form {
  text-align: center;
  background-color: rgba(17, 16, 16, 0.8);
  /* שינוי רמת השקיפות לפי הצורך */
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dc1e1e;
  color: #dc1e1e;
  background-color: #0a0303;
  border-radius: 5px;
}

/* button {
  background-color: #c90808;
  color: #0a0303;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

button:hover {
  background-color: #b38000;
}
.RButton{
  background-color: #c90808;
  color: #0a0303;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#backiconR{
  background-image: '../img/back.png';
  border-radius: 50px;
  width: 50px;
  height: 50px;
  
}