.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px; /* הוספת פינות מעוגלות */
}

.chat h2 {
    font-size: 20px; /* התאמת גודל הכותרת */
    margin: 0 0 10px 0;
}

.messages {
    flex: 1;
    overflow-y: auto;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; /* הוספת פינות מעוגלות */
    max-width: 60%;
    word-wrap: break-word;
    font-size: 1rem;
}

.message.outgoing {
    background-color: #cd1414;
    color: black;
    align-self: flex-end;
}

.message.incoming {
    background-color: #2a2727;
    color: rgb(199, 5, 5);
    align-self: flex-start;
}

.new-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-radius: 10px; /* הוספת פינות מעוגלות */
}

.new-message input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px; /* הוספת פינות מעוגלות לשדה הקלט */
}

.new-message button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px; /* התאמת גודל הכפתור */
    border-radius: 5px; /* הוספת פינות מעוגלות לכפתור */
}

.connection {
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
