.App {
  text-align: center;
  color: rgb(240, 11, 11);
  height: 100vh;
  background-image: url('http://localhost:3000/static/media/pizza3.jfif');
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #060606;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(234, 18, 18);
}

.App-link {
  color: #060c0e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headerimg {
  width: 100px;
  height: auto;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10px;
  background-color: #c40e0e;
  padding: 5px;
  margin-left: 10px;
}

.shoplogo {
  width: 120px;
  height: auto;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10px;
  background-color: rgb(19, 19, 19);
  padding: 5px;
  margin-left: 10px;
}

.headerdiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky; /* הוספת סטיקי */
  top: 0; /* להבטיח שהכותרת תישאר בחלק העליון */
 
  z-index: 1000; /* כדי שהכותרת תהיה מעל התוכן */
}


.homediv {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  /* תוסיף אנימציה חלקה */
}

.homediv:hover {
  background-color: rgba(39, 3, 3, 0.5);
  /* אדום כהה שקוף */
  color: #f24437;
}



.homeimg {
  width: 80%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;

}

#home {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-image: url('http://localhost:3000/static/media/pizza3.jfif');
  background-size: cover;
  background-position: center; */
}

.homep {
  font-size: 1.5rem;

}

a:-webkit-any-link {

  color: rgb(231, 7, 7);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.homelink {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

}

.branchdiv {
  width: 200px;
  height: 100px;
  
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;

}

.branchtext {
  margin: 5px;
}





.branchimg {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(138, 26, 26);
  margin-left: 20px;
}

.branch {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0c0d0dd1;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
}

#menuicon {
  margin-top: 10px;
  border-radius: 25px;
}

.icon {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.productdiv {
  background-color: black;
  color: #f24437;
  display: flex;
  flex-direction: row;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 20px;
  /* מעגלות לקצוות */
  box-shadow: 0 4px 8px rgba(200, 92, 92, 0.1);
  /* אפקט של צל */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* אנימציה עבור צל והתפרצות */
}

.productdiv:hover {
  transform: scale(1.05);
  /* אפקט זוהר כשעוברים על ה-DIV */
  box-shadow: 0 8px 16px rgba(230, 6, 6, 0.2);
  /* הגדלת הצל כשעוברים על ה-DIV */
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producttext {
  width: 233px;
}

.backicon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.pizzaimg {
  width: 200px;
  height: auto;
  border-radius: 20px;
  /* מעגלות לקצוות */

}

.linkdiv {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.linkdiv a {
  text-decoration: none;
}

.menudiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;

}

.myButton {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 50px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  /* padding: 7px 25px; */
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.deleteicon {
  width: 45px;
  border-radius: 50px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 150px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  justify-content: space-between;
  margin: 10px;
}

.shoppingcart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
  height: 90%;
  box-shadow: 3px 4px 2px 10px #8a2a21;
  margin: 30px;
}

.finishicon {
  width: 100px;
  height: auto;
  border-radius: 30px;
}

#shoppingcart {
  display: flex;
  justify-content: space-around
}

.displayadding {
  display: flex;
  flex-direction: row;
  align-items: center; /* זה מוודא שכל הילדים יהיו במרכז על הציר האנכי */
  width: 100px;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.displayadding input[type='checkbox'] {
  width: 20px; /* הגדרת הרוחב הרצוי */
  height: 20px; /* הגדרת הגובה הרצוי */
}

.pizza {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-wrap: break-word;
}

.pizza4 {
  width: 500px;
  height: 500px;
  word-wrap: break-word;
}

.bandt {
  display: flex;
  flex-direction: column;
}

.text {
  height: 100%;
  word-wrap: break-word;
}

#back {
  width: 100%;
  background-color: antiquewhite;

  border-radius: 3px;
}

.finish1 {
  display: flex;
  flex-direction: row;
  background-image: url("./img/back-ground.jfif");
  width: 100%;
  height: 1000px;
  justify-content: space-between;
}

.listf1 {
  width: 200px;
  /* background-color: black; */
  border-radius: 5px;
  color: #d02718;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.h1f1 {
  width: 200px;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
}

.finish2 {
  background-image: url('./img/back-groun2.jfif');
  width: 100%;
  height: 100vh;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('./img/background.jfif');
}

.yacvv {
  font-size: 1.5rem;
  width: 147px;
  box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
}

.inputpay {
  font-size: 1.5rem;
  width: 300px;
  box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
}

.branchesinf2 {
  display: flex;
}

.h1inf2 {
  background-color: white;

}

.sent {
  width: 100%;
  height: 100vh;
  background-image: url('./img/background2.jfif');
  display: flex;
  justify-content: center;
  align-items: center;
}